@charset "utf-8";

.header {

  .header-container {
    max-width: 1200px;
    height: 62px;
    margin: 0 auto;
    padding: 0 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    .logo-box {
      position: relative;

      .logo-text {
        font-size: 1.5rem;
        font-weight: 600;
        color: #fff;
      }
    }
    .flex-space {
      flex-grow: 3;
    }
    .header-btn-group {
      button {
      }
    }
  }
}

