<p>main works!</p>
<div>
  <a [routerLink]="['main']">main</a>
</div>
<div>
  <a [routerLink]="['hobby']">hobby</a>
</div>
<section class="main-container">
  <article class="item-group">
    <div class="item item-shadow">
      <div class="item-surf"></div>
      <p>{{"item-surf" | translate}}</p>
    </div>
    <div class="item item-shadow">
      <div class="item-soccer"></div>
      <p>{{"item-soccer" | translate}}</p>
    </div>
    <div class="item item-shadow">
      <div class="item-basketball"></div>
      <p>{{"item-basketball" | translate}}</p>
    </div>
    <div class="item item-last item-shadow">
      <div class="item-tennis"></div>
      <p>{{"item-tennis" | translate}}</p>
    </div>
  </article>
  <article class="item-group">
    <div class="item item-shadow">
      <div class="item-golf"></div>
      <p>{{"item-golf" | translate}}</p>
    </div>
    <div class="item item-shadow">
      <div class="item-badminton"></div>
      <p>{{"item-badminton" | translate}}</p>
    </div>
    <div class="item">
      <div class="item-ski"></div>
      <p>{{"item-ski" | translate}}</p>
    </div>
    <div class="item item-last">
      <div class="item-wakeboard"></div>
      <p>{{"item-wakeboard" | translate}}</p>
    </div>
  </article>
</section>

